In [5]:
import pandas as pd
import numpy as np

In [6]:
valid = pd.read_csv("valid_sudoku.csv")
invalid = pd.read_csv("invalid_sudoku.csv")

In [7]:
# RULES:
    # Each row, column and nonet can contain each number
    # exactly once
    
    # The sum of all numbers in any nonet, row or column
    # must match 45

In [8]:
valid

   A  B  C  D  E  F  G  H  I
0  1  5  8  2  7  6  9  3  4
1  9  3  2  1  4  5  7  8  6
2  6  4  7  3  8  9  1  2  5
3  7  2  4  5  6  3  8  1  9
4  8  9  6  7  2  1  5  4  3
5  5  1  3  4  9  8  2  6  7
6  2  8  5  9  3  4  6  7  1
7  3  7  1  6  5  2  4  9  8
8  4  6  9  8  1  7  3  5  2

In [10]:
invalid

   A  B  C  D  E  F  G  H  I
0  1  5  8  2  7  6  9  3  4
1  9  3  2  1  4  5  7  8  6
2  6  4  7  3  8  9  1  2  5
3  7  2  4  5  6  3  8  1  9
4  8  9  6  7  2  1  5  4  3
5  5  1  3  4  9  8  2  6  7
6  9  8  5  9  3  4  6  7  1
7  3  7  1  6  5  2  4  9  8
8  4  6  9  8  1  7  3  5  2

In [24]:
# check if row contains number more than once
len(valid.iloc[:,0].unique()) == 9
# check if row sum is 45
valid.iloc[:,0].sum() == 45

True

In [25]:
# check if col contains number more than once
len(valid.iloc[0,:].unique()) == 9
# check if col sum is 45
valid.iloc[0,:].sum() == 45

True

In [52]:
# Check if nonet contains number more than once
len(valid.iloc[0:3, 0:3].values) == 9
# Check if nonet sum is 45
valid.iloc[0:3, 0:3].sum() == 45

A    False
B    False
C    False
dtype: bool

In [58]:
valid.iloc[0:3, 0:3].values.tolist()

[[1, 5, 8], [9, 3, 2], [6, 4, 7]]

In [ ]:
# next: ungroup array