In [2]:
import pandas as pd
import numpy as np

In [3]:
valid = pd.read_csv("valid_sudoku.csv")
invalid = pd.read_csv("invalid_sudoku.csv")

In [4]:
# RULES:
    # Each row, column and nonet can contain each number
    # exactly once
    
    # The sum of all numbers in any nonet, row or column
    # must match 45

In [5]:
valid

   A  B  C  D  E  F  G  H  I
0  1  5  8  2  7  6  9  3  4
1  9  3  2  1  4  5  7  8  6
2  6  4  7  3  8  9  1  2  5
3  7  2  4  5  6  3  8  1  9
4  8  9  6  7  2  1  5  4  3
5  5  1  3  4  9  8  2  6  7
6  2  8  5  9  3  4  6  7  1
7  3  7  1  6  5  2  4  9  8
8  4  6  9  8  1  7  3  5  2

In [6]:
invalid

   A  B  C  D  E  F  G  H  I
0  1  5  8  2  7  6  9  3  4
1  9  3  2  1  4  5  7  8  6
2  6  4  7  3  8  9  1  2  5
3  7  2  4  5  6  3  8  1  9
4  8  9  6  7  2  1  5  4  3
5  5  1  3  4  9  8  2  6  7
6  9  8  5  9  3  4  6  7  1
7  3  7  1  6  5  2  4  9  8
8  4  6  9  8  1  7  3  5  2

In [74]:
def check_sudoku(df):
    # Columns
    c1 = (df.apply(lambda x: len(x.unique()) == 9).sum() == 9)
    c2 = (df.apply(lambda x: x.sum().sum() == 45).sum() == 9)
    # Rows
    r1 = (df.apply(lambda x: len(x.unique()) == 9, axis = 1).sum() == 9)
    r2 = (df.apply(lambda x: x.sum().sum() == 45, axis = 1).sum() == 9)
    # Check
    if c1 and c2 and r1 and r2 == True:
        return True
    else:
        return False

In [76]:
check_sudoku(valid)

True

In [77]:
check_sudoku(invalid)

False

In [ ]:
# Open question: Do nonets still have to be checked,
# if every row and column does not contain duplicates and
# sums up to 45?